body {
	background-color: #111;
	background-image: url(../images/diamondplating.png);
	background-repeat: repeat;
}

#wholePage {
	background-color: #111;
	margin: auto;
	width: 970px;
	color: #333;
	/*border: 3px solid #00cc00;*/
	line-height: 130%;
	min-height: 100%;
	background-image: url(../images/fencing.png);
	background-repeat: repeat;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
}

#header {
	background-color: #000;
	height: 160px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
}

#navbar {
	font-size: small;
	font-weight: bold;
	background-color: #000;
	float: left;
	width: 180px;
	/*border-top: solid 1px blue;*/
	/*border-left: solid 1px blue;*/
	padding-left: 5px;
	padding-right: 5px;
}

#navbar a {
	text-decoration: none;
	color: white;
}

#navbar p {
	/*border:solid 2px #FC0;*/
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	background-image: url(../images/bear_metal_button.png);
	background-repeat: no-repeat;
	/*-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background: #00f;*/
	color: #fff;
	text-align: center;
	-webkit-text-size-adjust: none;
}

#navbar p:hover {
	background: url(../images/bear_metal_button_over.png);
}

#invisible {
	float: left;
	min-height: 100%;
	padding: 0;
	margin: 0;
	border: none;
}

#content {
	font-size: small;
	background-color: #006;
	float: left;
	/*margin-right: 240px;*/
	/*border-top: solid 1px blue;*/
	border-left: solid 3px #000;
	border-right: solid 3px #000;
	/*border-bottom: solid 1px blue;*/
	min-height: 480px;
	/*background-image: url(../images/bearmetallogoyellow.png);*/
	width: 525px;
	padding-right: 10px;
	padding-left: 5px;
	color: #fff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

#content table {
	font-size: small;
	padding: 10px;
}

#content p {
	#padding: 10px;
}

#content strong {
	font-size: larger;
}

#calendar {
	background-color: #fff;
	float: right;
	width: 230px;
	margin: 0px;
	/*border-right: solid 1px blue;*/
	padding: 2px;
}

#footer {
	font-size: small;
	clear: both;
	padding: 5px;
	color: #ff0;
	/*border-top: solid 3px #ff0;
	border-right: solid 1px blue;
	border-left: solid 1px blue;
	border-bottom: solid 1px blue;*/
	height: 30px;
	background-color: #111;
	background-image: url(../images/diamondplating.png);
	background-repeat: repeat;
}

